* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

ul li {
  list-style: none;
  position: relative;
  padding: 10px 0px;
  cursor: pointer;
}

span::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  border: 2px solid yelow;
  height: 25px;
  width: 25px;
  top: 6px;
  left: -30px;
}

span.checked {
  text-decoration: line-through;
}

span.checked::before {
  background-image: url(images/checked.png);
}

span:hover {
  background-color: yellow;
}

a.edit {
  background-color: darkgreen;
  color: white;
  margin-left: 10px;
}

a.delete {
  background-color: darkred;
  color: white;
  margin-left: 10px;
}

a.edit:hover {
  background-color: green;
}

a.delete:hover {
  background-color: red;
}